/* 
  Author: Christofer Laurin
  Version: 0.1.0
  Website: antropomorf.se
*/
:root {
	--dark: #131019;
	--medium: #029bdd;
	--primary: #ff00b2;
	--secondary: #e4ff46;
	--black: #000;
	--white: #fff;

	--wp: #00749c;
	--php: #474a8a;
	--js: #f0db4f;
	--css: #663399;

	--font-size: clamp(1.5rem, 1.1dvw, 2rem);
}

@font-face {
	font-display: swap;
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/source-code-pro-v23-latin-500.woff2') format('woff2');
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: linear-gradient(to bottom, var(--dark), var(--black));
}

.icon {
	display: inline-block;
	vertical-align: middle;
	width: var(--font-size);
	height: var(--font-size);
	padding: calc(var(--font-size) / 2);
	stroke-width: 0;
	stroke: currentColor;
	overflow: visible;
	fill: currentColor;
	pointer-events: none;
	text-rendering: optimizeSpeed;
	buffered-rendering: static;
}

a {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	color: var(--primary);
	font-family: 'Source Code Pro';
	text-decoration: none;
	transition: all 0.5s;
}

a:hover {
	color: var(--secondary);
	opacity: 1;
	transform: scale(1.05);
}

@keyframes textAnimation {
	0% {
		opacity: 0;
		transform: translateY(-100%) rotateX(85deg);
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0.8;
	}
}
